newrelic:
    #
    # Update with your New Relic account license key:
    #
    license_key: '<%= newrelic_key %>'
    #
    # Set to '1' for verbose output, remove for normal output.
    # All output goes to stdout/stderr.
    #
    verbose: 1

#
# Agent Configuration, describe your nginx instances here
#
agents:
    nginx_status_agent:
        -
            instance_name: <%= "#{application}_#{rails_env}" %>
            status_url: http://localhost/nginx_stub_status
            http_user: <%= nginx_status_username %>
            http_pass: <%= nginx_status_password %>