upstream unicorn {
    server unix:/tmp/unicorn.<%= application %>.sock fail_timeout=0;
}

server {
    listen 80 default deferred;
    root <%= current_path %>/public;

    location ^~ /assets/ {
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    location = /nginx_stub_status {
        stub_status on;
        auth_basic "nginx status";
        auth_basic_user_file /etc/nginx/.htpasswd;
    }

    try_files $uri/index.html $uri @unicorn;
    location @unicorn {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://unicorn;
    }

    location /dashboard {
        alias /home/deployer/apps/jbc-dashboard/current;
    }

    location /dashboard/.*\.(js|css|png|jpg|jpeg|gif|ico) {
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    error_page 500 502 503 504 /500.html;
    client_max_body_size 4G;
    keepalive_timeout 10;
}