set daemon 30

set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state

set eventqueue
    basedir /var/lib/monit/events
    slots 100

set mailserver localhost port 25
    with timeout 30 seconds

set alert <%= alert_email %>

set httpd port 2812
    allow admin:"DuyTrung123"

<% if rails_env == 'production' %>
    check system jbc-api_server
        if loadavg(5min) > 2 for 2 cycles then alert
        if memory > 75% for 2 cycles then alert
        if cpu(user) > 75% for 2 cycles then alert
<% end %>

include /etc/monit/conf.d/*