<% cache @job_board do %>
(function(window, undefined) {
    var JBC = window.JBC || {},
            templates = {},
            config;

    /**
     * Simple script loader
     * @param url
     * @param callback
     */
    var bootstrap = function(src) {
        var script = document.createElement('script');
        script.src = src;
        script.async = true;
        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    };

    bootstrap("<%= "#{@js_host}/#{@js_version}/sdk.min.js" %>");

    // setup config
    config = {
        xdrpc: {
            easyXDMUrl: "<%= "#{@host}#{@easyXDM_path}" %>",
            remoteUrl: "<%= xdrpc_url(format: :html) %>"
        },
        jbcAppId: "<%= @job_board.uuid %>",
        host: "<%= @host %>",
        allowSwitchUser: <%= @job_board.allow_switch_user %>,
        signOutUrl: "<%= @job_board.sign_out_url %>",
        redirectUrl: "<%= @job_board.linkedin_redirect_url %>",
        linkedin: {
            apiKey: "<%= @job_board.linkedin_api_key %>",
            redirectUrl: "<%= @job_board.linkedin_redirect_url %>",
            unlinkUrl: "<%= @job_board.linkedin_unlink_url%>",
            signInUrl: "<%= new_api_v1_job_board_linkedin_oauth_url(@job_board.uuid, format: :html) %>",
            signOutUrl: "<%= api_v1_job_board_linkedin_oauth_url(@job_board.uuid, format: :json) %>"
        },
        mixpanel: {
            token:  "<%= @job_board.mixpanel_token %>"
        }
    }
    JBC.config = $.extend(config, JBC.config);
    <%=
        render partial: '/api/v1/scripts/template', collection: @templates
        %>
    JBC.config.templates = templates;
})(window);
<% end %>